In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Import the Data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df_temp = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project/Dataset - blogtext.csv')

In [ ]:
df_temp.shape

(681284, 7)

In [ ]:
# taking a sample as saving the memory
df = df_temp.head(50000)

In [ ]:
del df_temp

In [ ]:
df.sample(10)

            id  ...                                               text
42019   888601  ...         Alrighty then, I've finished with two c...
11238  3350684  ...         today is racial harmony day.. then got ...
6203   1708471  ...
30495  3687738  ...          China able to handle oil's jump Cheap ...
11092  2061087  ...         Wow, so blogger has made some big chang...
16478  1915813  ...                Doom 3 leaked   Just read that  ...
42662  3511005  ...     So today is wonderful, other than allergies...
40609  3581933  ...             we met our neighbors from across th...
37911  3636103  ...               10.  You left in your 39 x 23, an...
9740    936098  ...                                    Wait. What?

[10 rows x 7 columns]

In [ ]:
df.shape

(50000, 7)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50000 non-null  int64
 1   gender  50000 non-null  object
 2   age     50000 non-null  int64
 3   topic   50000 non-null  object
 4   sign    50000 non-null  object
 5   date    50000 non-null  object
 6   text    50000 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.7+ MB

In [ ]:
# Statistical summary
df.describe(include = 'all').T

        count unique                  top  ...         50%          75%          max
id      50000    NaN                  NaN  ...  2.7649e+06  3.52562e+06  4.33713e+06
gender  50000      2                 male  ...         NaN          NaN          NaN
age     50000    NaN                  NaN  ...          24           27           48
topic   50000     40               indUnk  ...         NaN          NaN          NaN
sign    50000     12                Aries  ...         NaN          NaN          NaN
date    50000   1180       05,August,2004  ...         NaN          NaN          NaN
text    50000  49249           urlLink     ...         NaN          NaN          NaN

[7 rows x 11 columns]

### Data Pre-proecessing

In [ ]:
df.isnull().sum() # check the null value

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

In [ ]:
df.isnull().values.any()

False

In [ ]:
df = df.drop(columns = ['id', 'date'], axis = 1) # Dropping the column

In [ ]:
df['age'].unique()

array([15, 33, 14, 25, 17, 23, 37, 26, 24, 27, 45, 34, 41, 44, 16, 39, 35,
       36, 46, 42, 13, 38, 43, 40, 47, 48])

In [ ]:
df['gender'].unique()

array(['male', 'female'], dtype=object)

In [ ]:
df['topic'].unique()

array(['Student', 'InvestmentBanking', 'indUnk', 'Non-Profit', 'Banking',
       'Education', 'Engineering', 'Science', 'Communications-Media',
       'BusinessServices', 'Sports-Recreation', 'Arts', 'Internet',
       'Museums-Libraries', 'Accounting', 'Technology', 'Law',
       'Consulting', 'Automotive', 'Religion', 'Fashion', 'Publishing',
       'Marketing', 'LawEnforcement-Security', 'HumanResources',
       'Telecommunications', 'Military', 'Government', 'Transportation',
       'Architecture', 'Advertising', 'Agriculture', 'Biotech',
       'RealEstate', 'Manufacturing', 'Construction', 'Chemicals',
       'Maritime', 'Tourism', 'Environment'], dtype=object)

In [ ]:
df['sign'].unique()

array(['Leo', 'Aquarius', 'Aries', 'Capricorn', 'Gemini', 'Cancer',
       'Sagittarius', 'Scorpio', 'Libra', 'Virgo', 'Taurus', 'Pisces'],
      dtype=object)

In [ ]:
len(df['text'].unique())

49249

In [ ]:
df['text']

0                   Info has been found (+/- 100 pages,...
1                   These are the team members:   Drewe...
2                   In het kader van kernfusie op aarde...
3                         testing!!!  testing!!!
4                     Thanks to Yahoo!'s Toolbar I can ...
                               ...
49995           Aug 7th Thur... Bought Her Mua Chee & S...
49996           Aug 6th Wed.. Her 1st Day @ Work Back @...
49997           Aug 4th Mon Zing's BD !! Went To Her Pl...
49998           Aug 3rd Sun.. Went To Her Place B4 Goin...
49999           Aug 1st Fri.. Met Her To Go Shoppin' @ ...
Name: text, Length: 50000, dtype: object

#### Data Cleansing

In [ ]:
import re

In [ ]:
df['text'] = df['text'].apply(lambda x : re.sub('[^A-Za-z]+',  ' ', x))

In [ ]:
df['text'] = df['text'].apply(lambda x : x.strip())

In [ ]:
df['text'] = df['text'].apply(lambda x : x.lower())

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
sw = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
df['text'] = df['text'].apply(lambda x : ' '.join([word for word in x.split() if word not in sw]))

In [ ]:
df

      gender  age  ...      sign                                               text
0       male   15  ...       Leo  info found pages mb pdf files wait untill team...
1       male   15  ...       Leo  team members drewes van der laag urllink mail ...
2       male   15  ...       Leo  het kader van kernfusie op aarde maak je eigen...
3       male   15  ...       Leo                                    testing testing
4       male   33  ...  Aquarius  thanks yahoo toolbar capture urls popups means...
...      ...  ...  ...       ...                                                ...
49995   male   23  ...    Taurus    aug th thur bought mua chee vcds send home work
49996   male   23  ...    Taurus  aug th wed st day work back dw sent work sent ...
49997   male   23  ...    Taurus  aug th mon zing bd went place cooked dinner to...
49998   male   23  ...    Taurus  aug rd sun went place b goin get zing bd prese...
49999   male   23  ...    Taurus  aug st fri met go shoppin wisma b meetin luver...

[50000 rows x 5 columns]

#### Merger

In [ ]:
# %%time
# df['target'] = df[df.columns[:-1]].apply(lambda x : ','.join(x.astype(str)), axis = 1)

In [ ]:
df['target'] = df.apply(lambda row: [row['gender'], str(row['age']), row['topic'], row['sign']], axis = 1)

In [ ]:
# df.reset_index(drop = True, inplace = True)

In [ ]:
df.head()

  gender  ...                                   target
0   male  ...                 [male, 15, Student, Leo]
1   male  ...                 [male, 15, Student, Leo]
2   male  ...                 [male, 15, Student, Leo]
3   male  ...                 [male, 15, Student, Leo]
4   male  ...  [male, 33, InvestmentBanking, Aquarius]

[5 rows x 6 columns]

In [ ]:
df_new = df[['text', 'target']]
df_new.head(2)

                                                text                    target
0  info found pages mb pdf files wait untill team...  [male, 15, Student, Leo]
1  team members drewes van der laag urllink mail ...  [male, 15, Student, Leo]

#### Train & Split

In [ ]:
x = df_new['text']
y = df_new['target']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [ ]:
X_train.shape, X_test.shape

((35000,), (15000,))

### Vectorisation

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
vc = CountVectorizer(ngram_range = (1,2), min_df = 1, stop_words = 'english')

In [ ]:
X_train_vc = vc.fit_transform(X_train)
X_test_vc = vc.transform(X_test)

In [ ]:
vc.get_feature_names()[:10]

['aa',
 'aa aa',
 'aa anger',
 'aa batteries',
 'aa class',
 'aa compared',
 'aa damn',
 'aa ended',
 'aa eriol',
 'aa forms']

### Classifier

In [ ]:
target_count = dict()

for target in df['target'].values:
  for label in target:
    if label in target_count:
      target_count[label] += 1
    else:
      target_count[label] = 1

In [ ]:
target_count

{'13': 745,
 '14': 2043,
 '15': 3508,
 '16': 4156,
 '17': 6859,
 '23': 5518,
 '24': 5746,
 '25': 2837,
 '26': 2869,
 '27': 4094,
 '33': 1654,
 '34': 1886,
 '35': 3365,
 '36': 1985,
 '37': 310,
 '38': 196,
 '39': 412,
 '40': 192,
 '41': 394,
 '42': 96,
 '43': 150,
 '44': 38,
 '45': 93,
 '46': 330,
 '47': 206,
 '48': 318,
 'Accounting': 364,
 'Advertising': 273,
 'Agriculture': 78,
 'Aquarius': 4784,
 'Architecture': 70,
 'Aries': 7795,
 'Arts': 1817,
 'Automotive': 116,
 'Banking': 283,
 'Biotech': 101,
 'BusinessServices': 416,
 'Cancer': 4589,
 'Capricorn': 3819,
 'Chemicals': 75,
 'Communications-Media': 1603,
 'Construction': 28,
 'Consulting': 243,
 'Education': 2646,
 'Engineering': 1402,
 'Environment': 6,
 'Fashion': 1805,
 'Gemini': 2558,
 'Government': 599,
 'HumanResources': 79,
 'Internet': 1420,
 'InvestmentBanking': 85,
 'Law': 308,
 'LawEnforcement-Security': 125,
 'Leo': 3904,
 'Libra': 4378,
 'Manufacturing': 441,
 'Maritime': 54,
 'Marketing': 414,
 'Military': 194,
 'Museums-Libraries': 285,
 'Non-Profit': 491,
 'Pisces': 4142,
 'Publishing': 207,
 'RealEstate': 17,
 'Religion': 258,
 'Sagittarius': 4571,
 'Science': 705,
 'Scorpio': 3243,
 'Sports-Recreation': 120,
 'Student': 10660,
 'Taurus': 3390,
 'Technology': 4379,
 'Telecommunications': 12,
 'Tourism': 65,
 'Transportation': 196,
 'Virgo': 2827,
 'female': 24185,
 'indUnk': 17560,
 'male': 25815}

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer

In [ ]:
mlb = MultiLabelBinarizer(classes = sorted(target_count.keys()))

In [ ]:
y_train = mlb.fit_transform(y_train)
y_test = mlb.transform(y_test)

In [ ]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [ ]:
clf = LogisticRegression(solver = 'lbfgs', max_iter = 1000)
clf = OneVsRestClassifier(clf)

In [ ]:
%%time
clf.fit(X_train_vc, y_train)

CPU times: user 2h 25min 16s, sys: 1h 14min 55s, total: 3h 40min 12s
Wall time: 2h 2min 35s

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=1000,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [ ]:
predicted_label = clf.predict(X_test_vc)
predicted_score = clf.decision_function(X_test_vc)

In [ ]:
predicted_label.shape, predicted_score.shape

((15000, 80), (15000, 80))

In [ ]:
prediction_inverse = mlb.inverse_transform(predicted_label)
y_test_inv = mlb.inverse_transform(y_test)

### Classification Report

In [ ]:
from sklearn.metrics import accuracy_score, f1_score, average_precision_score, recall_score

In [ ]:
accuracy_score(y_test, predicted_label)

0.14193333333333333

In [ ]:
f1_score(y_test, predicted_label, average = 'weighted')

0.4685028168556825

In [ ]:
average_precision_score(y_test, predicted_label, average = 'weighted')

0.37982961022987755

In [ ]:
recall_score(y_test, predicted_label, average = 'weighted')

0.38715

We can see that the model has performed poorly. The accuracy score is not sufficient because while we clipped the dataset, we've lost more than half of the information and it might contain some unbalanced data. Therefore, for the improvement, we need to add more or work on the full details to the dataset, but it's possible when we have high computing power.

### True vs Predicted

In [ ]:
for i in range(5):
  print("title: {}\ntrue labels: {}\npredicted labels: {}\n".format(X_test_vc[i], 
                                                                      '.'.join(y_test_inv[i]), 
                                                                      '.'.join(prediction_inverse[i])))

title:   (0, 12807)	1
  (0, 38097)	1
  (0, 108696)	1
  (0, 174124)	1
  (0, 175683)	1
  (0, 417699)	1
  (0, 421529)	1
  (0, 496809)	1
  (0, 496841)	1
  (0, 562154)	1
  (0, 562397)	1
  (0, 609147)	2
  (0, 610020)	1
  (0, 620567)	1
  (0, 621242)	1
  (0, 625407)	1
  (0, 625509)	1
  (0, 645459)	1
  (0, 646170)	1
  (0, 698081)	1
  (0, 706908)	1
  (0, 707160)	1
  (0, 776225)	1
  (0, 776798)	1
  (0, 811259)	1
  :	:
  (0, 1652639)	1
  (0, 1652789)	1
  (0, 1653197)	1
  (0, 1653208)	1
  (0, 1653233)	1
  (0, 1821285)	1
  (0, 1823730)	1
  (0, 1832274)	1
  (0, 1832292)	1
  (0, 1854975)	1
  (0, 1855948)	1
  (0, 1862544)	1
  (0, 1903037)	1
  (0, 1903627)	1
  (0, 1974704)	1
  (0, 1974875)	1
  (0, 1984633)	1
  (0, 1985888)	1
  (0, 1990065)	2
  (0, 1991989)	1
  (0, 1992996)	1
  (0, 2033475)	1
  (0, 2033567)	1
  (0, 2056068)	1
  (0, 2056432)	1
true labels: 37.Education.Gemini.female
predicted labels: male

title:   (0, 64752)	1
  (0, 64758)	1
  (0, 64780)	1
  (0, 81906)	1
  (0, 125595)	1
  (0, 125791)	1
  (0, 154192)	3
  (0, 155926)	1
  (0, 156280)	1
  (0, 163623)	1
  (0, 163766)	1
  (0, 236453)	1
  (0, 237777)	1
  (0, 240086)	1
  (0, 240210)	1
  (0, 302444)	1
  (0, 302631)	1
  (0, 417699)	1
  (0, 420710)	1
  (0, 514859)	1
  (0, 515513)	1
  (0, 566705)	2
  (0, 566907)	1
  (0, 598764)	1
  (0, 599785)	1
  :	:
  (0, 1654344)	1
  (0, 1663025)	1
  (0, 1663031)	1
  (0, 1710410)	2
  (0, 1710573)	2
  (0, 1763473)	1
  (0, 1779182)	1
  (0, 1779404)	1
  (0, 1859398)	1
  (0, 1861027)	1
  (0, 1866114)	2
  (0, 1866837)	1
  (0, 1894971)	1
  (0, 1895992)	1
  (0, 1899783)	1
  (0, 1900538)	1
  (0, 1969032)	1
  (0, 1986958)	1
  (0, 1990065)	1
  (0, 1991354)	1
  (0, 2007706)	2
  (0, 2008149)	1
  (0, 2008287)	1
  (0, 2034358)	2
  (0, 2034502)	1
true labels: 24.Libra.female.indUnk
predicted labels: 24.Libra.female.indUnk

title:   (0, 196938)	1
  (0, 197460)	1
  (0, 657336)	1
  (0, 667608)	1
  (0, 668463)	1
  (0, 802354)	1
  (0, 802632)	1
  (0, 1021161)	1
  (0, 1026648)	1
  (0, 1061661)	1
  (0, 1061972)	1
  (0, 1204272)	1
  (0, 1209195)	1
  (0, 1338319)	1
  (0, 1338401)	1
  (0, 1531676)	1
  (0, 1531799)	1
  (0, 1928995)	2
  (0, 1931422)	1
true labels: 17.Gemini.female.indUnk
predicted labels: female

title:   (0, 18404)	1
  (0, 132140)	1
  (0, 132141)	1
  (0, 157960)	2
  (0, 157978)	1
  (0, 173534)	1
  (0, 204014)	1
  (0, 214224)	2
  (0, 257684)	1
  (0, 257807)	1
  (0, 291291)	1
  (0, 303335)	1
  (0, 319476)	2
  (0, 319776)	1
  (0, 353554)	1
  (0, 376194)	1
  (0, 377170)	1
  (0, 421756)	2
  (0, 423609)	1
  (0, 423652)	1
  (0, 428768)	1
  (0, 520635)	1
  (0, 582911)	1
  (0, 583249)	1
  (0, 614100)	1
  :	:
  (0, 1824226)	1
  (0, 1828817)	1
  (0, 1837146)	1
  (0, 1873968)	1
  (0, 1874104)	1
  (0, 1875486)	1
  (0, 1875760)	1
  (0, 1925580)	2
  (0, 1926180)	1
  (0, 1926235)	1
  (0, 1936392)	2
  (0, 1968054)	1
  (0, 1968098)	1
  (0, 2012688)	2
  (0, 2025503)	2
  (0, 2025861)	1
  (0, 2026020)	1
  (0, 2037547)	2
  (0, 2039640)	1
  (0, 2050861)	1
  (0, 2051289)	1
  (0, 2065875)	3
  (0, 2066530)	1
  (0, 2067361)	1
  (0, 2068081)	2
true labels: 27.Aquarius.Education.female
predicted labels: male

title:   (0, 29008)	1
  (0, 29429)	1
  (0, 65580)	1
  (0, 116628)	2
  (0, 116992)	1
  (0, 125154)	1
  (0, 164668)	1
  (0, 164951)	1
  (0, 173534)	1
  (0, 178360)	2
  (0, 178417)	1
  (0, 196938)	1
  (0, 196994)	1
  (0, 241864)	2
  (0, 241894)	1
  (0, 291591)	1
  (0, 317343)	1
  (0, 317956)	1
  (0, 367872)	1
  (0, 382230)	1
  (0, 385966)	1
  (0, 386033)	1
  (0, 417699)	1
  (0, 420641)	1
  (0, 478338)	1
  :	:
  (0, 1465865)	2
  (0, 1467622)	1
  (0, 1562194)	1
  (0, 1562407)	1
  (0, 1641555)	1
  (0, 1743101)	1
  (0, 1743104)	1
  (0, 1756327)	1
  (0, 1758173)	1
  (0, 1760063)	1
  (0, 1796576)	1
  (0, 1814283)	1
  (0, 1814343)	1
  (0, 1818410)	1
  (0, 1820948)	1
  (0, 1866114)	1
  (0, 1866796)	1
  (0, 1880979)	1
  (0, 1881084)	1
  (0, 1894971)	1
  (0, 1895494)	1
  (0, 2012053)	1
  (0, 2032852)	1
  (0, 2052746)	1
  (0, 2063251)	1
true labels: 17.Capricorn.Student.female
predicted labels: 17.Capricorn.Student.female

Some of them have predicted the wrong because of the low performance of the model.

### Conclusion

First, we imported the data, then take a sample to avoid crashing. Then performed the pre-processing, cleansing and transformed it. After that, we split the data into train and test, plus applied the vectorisations. And then tune it to make it a classifier. However, the dataset hasn't performed well as we expected. As we've discussed before, we need to have a high computational power to overcome this issue.